*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ptSansNarrowRegular", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

button{
    cursor: pointer;
}

.todo_app{
    height: 100%;
}

@font-face{
    font-family: "protestRiot";
    src: url(../fonts/ProtestRiot-Regular.ttf);
}

@font-face {
    font-family: "ptSansNarrowBold";
    src: url(../fonts/PTSansNarrow-Bold.ttf);
}

@font-face {
    font-family: "ptSansNarrowRegular";
    src: url(../fonts/PTSansNarrow-Regular.ttf);
}

:root{
    font-size: 12px;
    --header-bg-color: #1C39BB;
    --nav-btn-color-hover: #f0ece2;
    --nav-bg-color: #FAF9F6;
    --form-btn-bg-color:#5adbb5; 
    --input-border:#8b8a8b;
}

.todo_app{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.todo_app > header{
    grid-column: 1 / span 12;
    padding: 10px 10px 10px 20px;
    background-color: var(--header-bg-color);
    color:azure;
    display: flex;
    align-items: center;
}

header > h1{
    text-transform: uppercase;
    font-family: "protestRiot", sans-serif;
}

/* Sidebar */
.todo_app > nav.sidebar{
    padding: 20px;
    grid-column: 1 / span 2;
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.projects-nav-btns{
    margin-bottom: 25px;
}

.home > h2, .projects > h2, .todos_div > h2{
    margin-bottom: 20px;
    font-family: "ptSansNarrowBold", sans-serif;
    font-size: 1.7rem;
}

.home-nav-btns, .project_nav_btn{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.home-nav-btns > div:hover, .project_btn_container:hover{
    background-color: var(--nav-btn-color-hover);
    border-radius: 4px;
}

.nav_btn, .project_btn{
    padding: 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.2rem;
}

.add_project_btn, .project_btns_control > button, .new_todo_btn, .todo_form > .fieldset > .btn_box > button{
    padding: 7px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 700;
}

.add_project_btn, .new_todo_btn{
    background-color: var(--header-bg-color);
    color: azure;
}

.project_btns_control > button, .todo_form > .fieldset > .btn_box > button{
    background-color: var(--form-btn-bg-color);
}

.hide{
    display: none;
}

.delete_project_btn{
    border: 0;
    outline: none;
    background-color: transparent;
    width: 10%;
    margin-left: auto;
}

.delete_project_btn img{
    width: 100%;
}

.project_btn_container{
    display: flex;
}
/* Sidebar */

/* Projects Form */
.project_form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project_btns_control, .todo_form > .fieldset > .btn_box{
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
.project_form > input, .todo_form > .fieldset > .input_control > input {
    font-size: max(16px, 1em);
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    padding: 5px 5px;
}
/* Projects Form */

/* Todos*/
main.todos_wrapper{
    grid-column: 3 / 13;
    padding: 25px;
}

.todos_div > h2.project-header{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.todo_form{
    background-color: #d5d5d5;
    margin: 0 auto;
    max-width: 400px;
    min-width: 250px;
    border: 1px solid #2f2f22;
    border-radius: 3px;
}

.fieldset{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 25px;
}

.todo_form > .fieldset >.input_control > label{
    display: block;
    font-size: 1.3rem;
}

.todo_form legend{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    background: #364351;
    border-radius: 3px 3px 0 0;
    color: white;
    padding: 30px 0;
}

.todo_form > .fieldset > .input_control > input, .todo_form > .fieldset > .input_control> textarea, .todo_form > .fieldset > .input_control > select{
    width: 70%;
}

textarea{
    padding: 5px;
}

.controls img{
    width: 8%;
}

.todo_article .controls{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.todo_article{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1.3rem;
    padding: 7px;
    background-color: var(--form-btn-bg-color);
    border-radius: 7px;
}

.todo_article h3{
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.checked{
    text-decoration: line-through;
    color: #d5d5d5;
}
/* Todos*/